body
{
    background-color: lightgray;
}

h1, h2 
{
    color: darkblue;
    font-family: sans-serif;
}

blockquote
{
    margin-left: 30px;
    font-style: italic;
}
.xquote
{
    margin-left: 40px;
    color: red;
}
.negative
{
    background-color: black;
    color: lightgray;
}