
.header4, .footer4
{
    background-color: blue;
    width: 100%;
    height: 100px;
}
.footer4
{
    clear: both;
}
.left4
{
    background-color: blue;
    width: 10em;
    height: 400px;
    float: left;
}
.right4
{
    background-color: blue;
    width: 10em;
    height: 400px;
    float: right;
}
.middle4
{
    background-color: blue;
    float: left;
    height: 400px;

}